<script>
  import { Container, Button } from "svelte-materialify/src";
</script>

<svelte:head>
  <title>Svelte Materialify Sapper template</title>
</svelte:head>
<Container class="text-center">
  <img
    src="//raw.githubusercontent.com/TheComputerM/svelte-materialify/master/logo/logo-192.png"
    alt="svelte-materialify" />
  <h1 class="mb-3">Starter Template</h1>
  <a
    href="//github.com/TheComputerM/svelte-materialify/stargazers"
    rel="noopener"
    class="text--primary">
    <Button>Star Me on GitHub</Button>
  </a>
</Container>
